<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-tabs scrollable-tab2 class="tabs-icon-top tabs-positive scad-tabs">
    <ion-tab title="Master" icon-off="ion-arrow-up-a" icon-on="ion-bookmark" href="#/tabsOpp/opportunity">
        <ion-nav-view name="masterOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Potential" icon-off="ion-arrow-right-a" icon-on="ion-lightbulb" href="#/tabsOpp/opp-potential">
        <ion-nav-view name="potentialOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="General" icon-off="ion-arrow-down-a" icon-on="ion-information-circled" href="#/tabsOpp/opp-general">
        <ion-nav-view name="generalOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Stages" icon-off="ion-arrow-left-a" icon-on="ion-man" href="#/tabsOpp/opp-stages">
        <ion-nav-view name="stagesOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Competitors" icon-off="ion-arrow-up-b" icon-on="ion-pie-graph" href="#/tabsOpp/opp-competitors">
        <ion-nav-view name="competitorOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Summary" icon-off="ion-arrow-right-b" icon-on="ion-fork" href="#/tabsOpp/opp-summary">
        <ion-nav-view name="summaryOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Attachment" icon-off="ion-social-markdown" icon-on="ion-social-tux" href="#/tabsOpp/opp-attachment">
        <ion-nav-view name="attachmentOpp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Comment" icon-off="ion-social-sass" icon-on="ion-social-python" href="#/tabsOpp/opp-comment">
        <ion-nav-view name="commentOpp"></ion-nav-view>
    </ion-tab>
</ion-tabs>