<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="app.serviceCallList"></button>
    </ion-nav-buttons>
    <ion-nav-title>Service Call-Business Partner</ion-nav-title>
    <ion-content class="frmInput has-tabs-top">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Ship To</span>
            <input type="text" >
        </label>
        <br />
        <textarea rows="4"></textarea>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Bill To</span>
            <input type="text">
        </label>
        <br />
        <textarea rows="4"></textarea>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Contact Person</span>
            <input type="text" >
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Tel 1</span>
            <input type="text" >
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Tel 2</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile Phone</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Fax</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">BP Project</span>
            <input type="text">
        </label>
        <br />
    </ion-content>   
</ion-view>