<ion-nav-bar class="bar-positive">   
</ion-nav-bar>
<ion-tabs scrollable-tab class="tabs-icon-top tabs-positive scad-tabs">
    <ion-tab title="Master" icon-off="ion-arrow-up-a" icon-on="ion-bookmark" href="#/tabsSC/serviceCall-master">
        <ion-nav-view name="masterSC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="General" icon-off="ion-arrow-down-a" icon-on="ion-information-circled" href="#/tabsSC/serviceCall-general">
        <ion-nav-view name="generalSC"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="B-Partner" icon-off="ion-arrow-resize" icon-on="ion-arrow-move" href="#/tabsSC/serviceCall-businessPartner">
        <ion-nav-view name="bpSC"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="Remarks" icon-off="ion-social-euro-outline" icon-on="ion-arrow-left-b" href="#/tabsSC/serviceCall-remarks">
        <ion-nav-view name="remarksSC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Activities" icon-off="ion-social-angular-outline" icon-on="ion-eye" href="#/tabsSC/serviceCall-activity">
        <ion-nav-view name="activitySC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Solution" icon-off="ion-social-yen-outline" icon-on="ion-social-euro" href="#/tabsSC/serviceCall-solution">
        <ion-nav-view name="solutionSC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Expenses" icon-off="ion-social-chrome" icon-on="ion-social-chrome-outline" href="#/tabsSC/serviceCall-expenses">
        <ion-nav-view name="expensesSC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Resolution" icon-off="ion-social-bitcoin-outline" icon-on="ion-social-yen" href="#/tabsSC/serviceCall-resolution">
        <ion-nav-view name="resolutionSC"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="History" icon-off="ion-social-usd-outline" icon-on="ion-social-bitcoin" href="#/tabsSC/serviceCall-history">
        <ion-nav-view name="historySC"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="Scheduling" icon-off="ion-social-freebsd-devil" icon-on="ion-social-usd"  href="#/tabsSC/serviceCall-scheduling">
        <ion-nav-view name="schedulingSC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Attachment" icon-off="ion-social-markdown" icon-on="ion-social-tux" href="#/tabsSC/serviceCall-attachment">
        <ion-nav-view name="attachmentSC"></ion-nav-view>
    </ion-tab>
</ion-tabs>