<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Master" icon-off="ion-arrow-up-a" icon-on="ion-bookmark" href="#/tabsSO/salesOrder">
        <ion-nav-view name="masterSO"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Content" icon-off="ion-arrow-up-c" icon-on="ion-arrow-down-b" href="#/tabsSO/salesOrder-content">
        <ion-nav-view name="contentSO"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Detail" icon-off="ion-arrow-right-c" icon-on="ion-arrow-left-c" href="#/tabsSO/salesOrder-detail">
        <ion-nav-view name="detailSO"></ion-nav-view>
    </ion-tab>
</ion-tabs>