<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="app.ECList"></button>
    </ion-nav-buttons>
    <ion-nav-title>Equipment Card-Service Contract</ion-nav-title>
    <ion-content class="frmInput detail has-tabs-top">
        <ion-slide-box show-pager="false" does-continue="true" on-slide-changed="slideChangedContr($index)">
            <ion-slide ng-repeat="sc in serviceContr">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Contract</span>
                    <input type="text" ng-model="sc.Contract">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Start Date</span>
                    <input type="text" app-datetime ng-model="sc.StartDate">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">End Date</span>
                    <input type="text" app-datetime ng-model="sc.EndDate">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">termination Date</span>
                    <input type="text" app-datetime ng-model="sc.TerminationDate">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Service Type</span><br />
                    <select ng-model="sc.ServiceType">
                        <option value="R">Regular</option>
                        <option value="W">Warranty</option>
                    </select>
                </label>
                <br />
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="customSliderPager2"></div>
    <div class="customSliderPager">
        <label class="prevPage"><</label>
        <span class="customSlider-pager-page">
            {{dataContr.slideIndex+1}}/{{dataContr.totalSlide}}
        </span>
        <label class="nextPage">></label>
    </div>
</ion-view>