<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Master" icon-off="ion-arrow-up-a" icon-on="ion-bookmark" href="#/tabsEC/EC-master">
        <ion-nav-view name="masterEC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Address" icon-off="ion-arrow-swap" icon-on="ion-arrow-return-left" href="#/tabsEC/EC-address">
        <ion-nav-view name="addressEC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Service Call" icon-off="ion-social-angular" icon-on="ion-document-text" href="#/tabsEC/EC-serviceCall">
        <ion-nav-view name="serviceCallEC"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Service Contract" icon-off="ion-social-javascript" icon-on="ion-social-javascript-outline" href="#/tabsEC/EC-serviceContract">
        <ion-nav-view name="serviceContractEC"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="Transaction" icon-off="ion-social-css3" icon-on="ion-social-css3-outline" href="#/tabsEC/EC-transaction">
        <ion-nav-view name="transactionEC"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="Attachment" icon-off="ion-social-markdown" icon-on="ion-social-tux" href="#/tabsEC/EC-attachment">
        <ion-nav-view name="attachmentEC"></ion-nav-view>
    </ion-tab>
</ion-tabs>