<ion-view>
    
    <ion-content class="login">
        <div>
            <img src="img/login_up.png" />
        </div>
        <div>
            <label>MIS MOBILE</label>
        </div>
        <div>
            <label class="item item-input">               
                <input type="text" placeholder="username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="user.password">

            </label>
            </div>
            <div>
                        <button class="button custom-button" ng-click="login()">LOGIN</button>
        </div>
    </ion-content>

</ion-view>