<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="app.quotationList"></button>
    </ion-nav-buttons>
    <ion-nav-title>Quotation-Content</ion-nav-title>
    <ion-content class="frmInput has-tabs-top">
        <ion-slide-box show-pager="false" does-continue="true" on-slide-changed="slideChanged($index)">
            <ion-slide ng-repeat="item in items">
                <div>
                    <label class="item item-input item-stacked-label" ng-hide="item.ItemCode==null">
                        <span class="input-label">Item No</span>
                        <input type="text" ng-model="item.ItemCode" disabled>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Description</span>
                        <input type="text" ng-model="item.Description" disabled>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Quantity</span>
                        <input type="text" ng-model="item.Quantity" disabled>
                    </label>
                    <label class="item item-input item-stacked-label" ng-hide="item.ItemCode==null">
                        <span class="input-label">Warehouse</span>
                        <input type="text" ng-model="item.WhsName" disabled>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Unit Price</span>
                        <input type="text" ng-model="item.UnitPrice" disabled>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Discount</span>
                        <input type="text" ng-model="item.DiscPrcnt" disabled>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Tax Code</span>
                        <input type="text" ng-model="item.TaxCode" disabled>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Total</span>
                        <input type="text" ng-model="item.Total" disabled>
                    </label>
                    <br />
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <!--<div class="add-button">
        <i class="button button-icon icon ion-plus-circled" ng-click="addContent()"></i>
    </div>-->
    <div class="customSliderPager2"></div>
    <div class="customSliderPager">
        <label class="prevPage"><</label>
        <span class="customSlider-pager-page">
            {{data.slideIndex+1}}/{{data.totalSlide}}
        </span>
        <label class="nextPage">></label>
    </div>    
</ion-view>