<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Master" icon-off="ion-arrow-up-a" icon-on="ion-bookmark" href="#/tabsQuo/quotation-master">
        <ion-nav-view name="masterQuo"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Content" icon-off="ion-arrow-up-c" icon-on="ion-arrow-down-b" href="#/tabsQuo/quotation-content">
        <ion-nav-view name="contentQuo"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Detail" icon-off="ion-arrow-right-c" icon-on="ion-arrow-left-c" href="#/tabsQuo/quotation-detail">
        <ion-nav-view name="detailQuo"></ion-nav-view>
    </ion-tab>
</ion-tabs>