<ion-view>
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back" ui-sref="app.customerList"></button>
    </ion-nav-buttons>
    <ion-nav-title>Customer</ion-nav-title>
    <ion-content class="frmInput">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Code</span>
            <input type="text" ng-model="customer.CardCode">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label" >Name</span>
            <input type="text" ng-model="customer.CardName">
        </label>
        <!--<label class="item item-input item-stacked-label">
            <span class="input-label" >Foreign Name</span>
            <input type="text" ng-model="customer.CardForeignNamee">
        </label>-->
        <label class="item item-input item-stacked-label">
            <span class="input-label" >Group</span>
            <input type="text" ng-model="customer.GroupName">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Teritory</span>
            <input type="text" ng-model="customer.TerritoryName">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Tel 1</span>
            <input type="text" ng-model="customer.Phone1">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Tel 2</span>
            <input type="text" ng-model="customer.Phone1">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile Phone</span>
            <input type="text" ng-model="customer.Celular">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Fax</span>
            <input type="text" ng-model="customer.Fax">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="customer.E_mail">
        </label>
        <span class="input-label">Remark</span>
        <textarea rows="3" ng-model="customer.Remarks"></textarea>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Sales Employee</span>
            <input type="text"  ng-model="customer.SlpNam">
        </label>
        <!--<label class="item item-input item-stacked-label">
            <span class="input-label">Contact ID</span>
            <input type="text" ng-model="customer.custID">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" ng-model="customer.firstName">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Middle Name</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text"  ng-model="customer.custID">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text"  ng-model="customer.custID">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Position</span>
            <input type="text"  ng-model="customer.custID">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Address</span>
            <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Telephone 1</span>
            <input type="text"  ng-model="customer.custID">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Telephone 2</span>
            <input type="text"  ng-model="customer.custID">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile Phone</span>
            <input type="text" ng-model="customer.custMobile">
        </label>-->
        <br />
        <!--<label class="item item-input item-stacked-label">
            <span class="input-label">Currency</span>
            <input type="text">
        </label>-->
    </ion-content>
</ion-view>