<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-arrow-down-c" ng-click="newComp()" ng-hide="isTC"></button>
    </ion-nav-buttons>
    <ion-nav-title>Search Complain</ion-nav-title>
    <ion-content class="frmInput">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Status</span><br />
            <input type="radio" name="statusComp" id="r1Comp" value="O" ng-model="comp.status"><label for="r1Comp">Open</label>
            <input type="radio" name="statusComp" id="r2Comp" value="C" ng-model="comp.status"><label for="r2Comp">Close</label>
            <input type="radio" name="statusComp" id="r3Comp" value="L" ng-model="comp.status"><label for="r3Comp">All</label>
        </label>
        <label class="item item-input item-stacked-label" ng-show="comp.status=='C' || comp.status=='L'">
            <span class="input-label">From</span><br />
            <input type="date" ng-model="start" id="startComp" class="hidden" ng-change="getStart(start)" />
            <input type="text" ng-model="startDate" class="textDate" readonly>
            <i for="startComp" class="icon ion-calendar buttonDate"></i>
        </label>
        <label class="item item-input item-stacked-label" ng-show="comp.status=='C' || comp.status=='L'">
            <span class="input-label">To</span><br />
            <input id="endComp" type="date" ng-model="end" class="hidden" ng-change="getEnd(end)" />
            <input type="text" ng-model="endDate" class="textDate" readonly>
            <i for="endComp" class="icon ion-calendar buttonDate"></i>
        </label>
        <div class="button-container">
            <button class="button custom-button" ng-click="load()">Load</button>
        </div>
    </ion-content>
</ion-view>