<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Master" icon-off="ion-arrow-up-a" icon-on="ion-bookmark" href="#/tabsComplain/complain">
        <ion-nav-view name="masterComp"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Service Call" icon-off="ion-arrow-down-a" icon-on="ion-information-circled" href="#/tabsComplain/comp-sc">
        <ion-nav-view name="SCComp"></ion-nav-view>
    </ion-tab>
    <!--<ion-tab title="General" icon-off="ion-arrow-down-a" icon-on="ion-information-circled" href="#/tabsCust/cust-general">
        <ion-nav-view name="generalCust"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contact Person" icon-off="ion-arrow-return-right" icon-on="ion-wineglass" href="#/tabsCust/cust-contactPerson">
        <ion-nav-view name="contactCust"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Addresses" icon-off="ion-arrow-swap" icon-on="ion-arrow-return-left" href="#/tabsCust/cust-addresses">
        <ion-nav-view name="addressCust"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Payment Terms" icon-off="ion-arrow-expand" icon-on="ion-arrow-shrink" href="#/tabsCust/cust-paymentTerms">
        <ion-nav-view name="paymentCust"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>